name: dbt Config

on:
  push:
    branches:
      - "**"
    paths:
      - "**.py"

jobs:
  lint:
    name: checkout
    runs-on: ubuntu-latest

    steps:
      - name: checkout
        uses: actions/checkout@v4

      - name: install dependencies
        run: pip --version

      # - name: Running isort.
      #   run: isort --check-only  .

      # - name: Running flake8
      #   run: flake8 .