name: dbt Config

on:
  push:
    branches: [master]
  pull_request:
    branches: [master] 

jobs:
  lint:
    name: checkout
    runs-on: ubuntu-latest

    steps:
      - name: checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: install dependencies
        run: pip --version

      # - name: Running isort.
      #   run: isort --check-only  .

      # - name: Running flake8
      #   run: flake8 .